footer {
  padding: 40px;
}

textarea.comment {
    resize: none
}

.deep_1 {
    padding-left: 30px;
}
.deep_2 {
    padding-left: 60px;
}
.deep_3 {
    padding-left: 90px;
}
.deep_4 {
    padding-left: 120px;
}
.deep_5 {
    padding-left: 150px;
}
.deep_6 {
    padding-left: 180px;
}
.deep_7 {
    padding-left: 210px;
}

.panel{
    overflow:hidden;
    width:300px;
}
.panel-body {
  padding: 3px;
}
.panel-heading {
  padding: 1px 5px;
}

.message {
    border: 1px solid #2a6478; /* Белая рамка */
    border-radius: 5px; /* Радиус скругления */
}
.message.success{
    background: #6c6;
}
.message.warning{
    background: #ff9;
}
.message.error{
    background: #f66;
}