footer {
  padding: 40px;
}

textarea .comment {
    resize: none
}
/*Глубина комментариев*/
.deep_1 {
    padding-left: 30px;
}
.deep_2 {
    padding-left: 60px;
}
.deep_3 {
    padding-left: 90px;
}
.deep_4 {
    padding-left: 120px;
}
.deep_5 {
    padding-left: 150px;
}
.deep_6 {
    padding-left: 180px;
}
.deep_7 {
    padding-left: 210px;
}

.panel{
    overflow:hidden;
    width:300px;
}
.panel-body {
  padding: 3px;
  height: auto;
  overflow: auto;
  word-wrap: break-word;
}
.panel-heading {
  padding: 1px 5px;
}

.thumbnail-col{
    height: 370px;
}

.thumbnail{
    height: 355px;
}

/*Ограничиваем длину описания*/
.caption p{
    min-height: 6.5em;
    max-height: 6.5em; /*2 строки*/
    overflow: hidden;
    text-overflow: clip;
}

    /*Текст в превью*/
.thumbnail .caption{
    overflow: hidden;
}

.preview{
    background-color: #eee;
    height: 196px;
}

.preview img{
    width: 100%;
}
.filecard_preview img{
    width: 20%;
}

.preview .glyphicon-preview{
    font-size:196px;
}