<html>
    <head>
        <title>Страница не найдена</title>
        <style>
            body{
                margin:0;
                padding:30px;
                font:12px/1.5 Helvetica,Arial,Verdana,sans-serif;
            }
            h1{
                margin:0;
                font-size:48px;
                font-weight:normal;
                line-height:48px;
            }
            strong{
                display:inline-block;
                width:65px;
            }
        </style>
    </head>
    <body>
        <h1>Страница не найдена</h1>
        <p>
            Запрашиваемая вами старница не найдена. Проверьте адресную строку браузера. Или перейдите на главную страницу.
        </p>
        <a href='/'>Главная</a>
    </body>
</html>