{% extends "base.html" %}

{% block title %}Show Files{% endblock %}
{% block h1 %}Последние загрузки{% endblock %}

{% block content %}
    {{ parent() }}

    {% if files|length == 0 %}
    	<p>База пуста</p>
    {% else %}
		{% for file in files %}
			<div class="file_card">
				{% if file.isImage() == true %}
					<div class="preview">
						<img height="100" src="{{ upload_folder }}{{ file.path }}{{ file.name }}">
					</div>
				{% endif %}

				<div class="name">{{ file.original_name }}</div>
				<div class="time">{{ file.time }}</div>
				<div class="size">{{ file.showSize() }}</div>
				<div class="time">{{ file.comment }}</div>
				<div class="download">
					<a href="{{ path_for('download', { 'id': file.getId() }) }}">Скачать</a>
				</div>	
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}