{% extends "base.html" %}

{% block title %}Show File{% endblock %}

{% block ScriptsBeforeBody %}
    {{ parent() }}
    <script src="{{ pathToPublic }}/js/uppod.js" type="text/javascript"></script>
    <script src="{{ pathToPublic }}/js/helper.js" type="text/javascript"></script>
{% endblock %}

{% block h1 %}Просмотр файла{% endblock %}

{% block content %}
    {{ parent() }}
    
    {% if file == false %}
        <p>Такого файла не существует</p>
    {% else %}
        <div class="file_card well">
            {% if file.getType() == 'image' %}
                <div class="filecard_preview">
                    <img src="{{ fileUri }}">
                </div>
            {% elseif file.getType() == 'audio' or file.getType() == 'video' %}
                <div class="player" id="uppod_player"></div>
                <script type="text/javascript">this.player = new Uppod({m:"{{ file.getType() }}",uid:"uppod_player",file:"{{ fileUri }}"});</script>
            {% endif %}

            <div>Имя файла: {{ file.originalName }}</div>
            <div>Описание: {{ file.description }}</div>
            <div>Время загрузки: {{ file.time }}</div>
            <div>Размер: {{ file.showSize() }}</div>
            <div>Скачано: {{ file.numberOfDownloads }}</div>

            {% if id3 !=NULL %}

                <div class="id3 well">
                    <h3>ID3 Теги </h3>
                    {% for key,value in id3 %}
                        <div>{{ key }}: {{ value }}</div>
                    {% endfor %}
                </div>

            {% endif %}
            
            <form action="{{ path_for('download', { 'id': file.getId(), 'name':file.originalName }) }}">
                <button class="btn btn-primary btn-lg" type="submit">Скачать</button>
            </form>

            {% if delete %}
                <p>
                <form>
                    <a class="btn btn-primary btn-lg" type="submit" 
                    onclick="
                    if (confirm('Подтвердите удаление файла. Удаление необратимо! Мир никогда не станет прежним. Подумай...')){
                        window.location = '{{ path_for('delete', { 'id': file.getId() }) }}';
                    }
                    ;"
                    >Удалить</a>
                </form>
                </p>
            {% endif %}

            <h2>Комментарии</h2>
            <div class="comments" id="comments">
                {% if comments==NULL %}
                    Коментариев пока нет. Оставьте первый
                {% else %}    
                    {% for comment in comments %}
                        <div id="comment_{{ comment.getId() }}" class="deep_{{ comment.getDeep() }}">
                            <div class="panel panel-primary">

                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {% if comment.nick == NULL %}
                                        Anon
                                        {% else %}
                                        {{ comment.nick }}
                                        {% endif %}

                                        {{ comment.time }}

                                        <button class="btn btn-success btn-xs" onclick="showCommentFormReply({{ comment.getId() }});">
                                            ответить
                                        </button>
                                    </h3>
                                </div>

                                <div class="panel-body">
                                    {{ comment.text }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <h3>Добавить комментарий к файлу</h3>
            <div id="add_comment">
            </div>

            {% include 'comment_form.html' %}

        </div>
    {% endif %}
{% endblock %}