{% extends "base.html" %}

{% block title %}Show File{% endblock %}

{% block scripts %}
	<script src="{{ projectFolder }}/public/js/uppod.js" type="text/javascript"></script>
	<script src="{{ projectFolder }}/public/js/helper.js" type="text/javascript"></script>
{% endblock %}

{% block h1 %}Просмотр файла{% endblock %}

{% block content %}
    {{ parent() }}

    {% if file == false %}
    	<p>Такого файла не существует</p>
    {% else %}
		<div class="file_card">
			{% if file.getType() == 'image' %}
				<div class="preview">
					<img height="100" src="{{ fileUri }}">
				</div>
			{% elseif file.getType() == 'audio' or file.getType() == 'video' %}
				<div class="player" id="uppod_player"></div>
				<script type="text/javascript">this.player = new Uppod({m:"{{ file.getType() }}",uid:"uppod_player",file:"{{ fileUri }}"});</script>
			{% endif %}

			<div class="name">{{ file.originalName }}</div>
			<div class="time">{{ file.time }}</div>
			<div class="size">{{ file.showSize() }}</div>
			<div class="description">{{ file.description }}</div>

			{% if id3 is defined %}
				<br>
				<div class="id3">
					<h3>ID3 Теги</h3>
					{% for key,value in id3 %}
						{{ key }}:{{ value }}<br>
					{% endfor %}
				</div>
				<br>
			{% endif %}
			
			<div class="download">
				<a href="{{ path_for('download', { 'id': file.getId() }) }}">Скачать</a>
			</div>

			<div id="comments">
				<h2>Комментарии</h2>
					{% for comment in comments %}
						<div id="comment_{{ comment.comment.getId() }}">
							<p>
								{% if comment.deep != 0 %}
									{% for i in 0..comment.deep %}
										<font color='white'>###</font>
									{% endfor %}
								{% endif %}

								{{ comment.comment.time }}
								
								{% if comment.comment.nick == NULL %}
									Anon
								{% else %}
									{{ comment.comment.nick }}
								{% endif %}

								{{ comment.comment.text }}

								<button onclick="showCommentForm(
									{{ file.getId() }},
									{{ comment.comment.getId() }},
									'{{ path_for('add_comment') }}'
									);">[>]</button>
							</p>
						</div>
					{% endfor %}
			</div>
				<h3>Добавить комментарий к файлу</h3>
				<form method='post' action="{{ path_for('add_comment') }}">
					<input type="text" name="comment">
					<input type="text" name="nick" placeholder="Anon">
					<input type="hidden" name="fileId" value="{{ file.getId() }}">
					<button type="submit">Комментировать</button>
				</form>
			
		</div>
	{% endif %}
{% endblock %}