{{ include('head.html') }}
<h1>Последние загрузки</h1>

<table class="table table-striped">
	
	<thead>
		<tr>
			<th>Название</th>
			<th>Дата</th>
			<th>Размер</th>
		</tr>
	</thead>
	
	<tbody>
		{% for file in files %}
		<tr>
			<td>{{ file.name }}</td>
			<td>{{ file.time }}</td>
			<td>{{ file.showSize() }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% for file in files %}
<div class="file_card">
	<div class="preview"><img src=""></div>
	<div class="name">{{ file.name }}</div>
	<div class="time">{{ file.time }}</div>
	<div class="size">{{ file.showSize() }}</div>
	<div class="download"><a href="">Скачать</a></div>
</div>
{% endfor %}

{{ include('urls.html') }}
{{ include('foot.html') }}