{% extends "base.html" %}

{% block title %}Upload{% endblock %}
{% block ScriptsBeforeBody %}
    <link rel="stylesheet" href="{{ projectFolder }}/public/css/uploader-master.css" rel="stylesheet" />
{% endblock %}
{% block h1 %}Страница загрузки (главная){% endblock %}

{% block content %}
    {{ parent() }}
        <div class="wrapper">
              <h1>Simple Demo</h1>
              
              <div class="left-column">
                <!-- D&D Markup -->
                <div id="drag-and-drop-zone" class="uploader">
                  <div>Drag &amp; Drop Images Here</div>
                  <div class="or">-or-</div>
                  <div class="browser">
                    <label>
                      <span>Click to open the file Browser</span>
                      <input type="file" name="files[]" title='Click to add Files'>
                    </label>
                    
                  </div>
                </div>
                <!-- /D&D Markup -->
              </div>
              
              <div id="fileList">
                
                <!-- Files will be places here -->

              </div>
              
              <div id="debug">
                <h2>Debug</h2>
                <div>
                  <ul>
                    <!-- Debug lines will be added here -->
                  </ul>
                </div>
              </div>
        </div>
{% endblock %}

{% block ScriptsAfterBody %}
    <script src="{{ projectFolder }}/vendor/components/jquery/jquery.js"></script>
    <script src="{{ projectFolder }}/public/js/uploader-master/src/dmuploader.min.js"></script>
    <script src="{{ projectFolder }}/public/js/uploader-master/src/settings.js"></script>
{% endblock %}