{% extends "base.html" %}

{% block title %}Upload{% endblock %}
{% block h1 %}Загрузка файлов{% endblock %}

{% block content %}
    {{ parent() }}
        <div class="wrapper">
          <form role="form" class="form-horizontal" method='post' action="{{ path_for('upload')}}" enctype=multipart/form-data>
            <input type="hidden" name="nojs">
              <input type="file" name="file" required>
            <button class="btn btn-primary btn-sm" type="submit">Загрузить</button>
          </form> 
        </div>
{% endblock %}